body, html {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.container {
	width: 100%;
	height: 150%;
	background: url(https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t1.0-9/1545150_10201444502379065_495804103_n.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

div.aboutMe {
	margin-right: 50px;
	margin-left: 70%;
	float: right;
	width: 200px;
	padding: 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed

}

p {
	font-size: 18px;

}

.name {

	font-size: 40px;
}

.occupation {
	font-size: 25px;
}

div.contact {
	float: left;
	width: 125px;
	padding: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed
}

.contactMe {
	font-size: 20px;
}